.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.custom-toggler {
  font-size: 24px;
  width: 50px;
  height: 50px;
}
ul.dropdown-menu li {
  border-bottom: 1px solid #277FB3; /* Línea negra como separación */
  padding-bottom: 5px; /* Ajuste de espacio entre elementos */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #38B6FF;
  margin: 0;
  padding: 0;
  background-image: url("./fondo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.centrar-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto es para centrar verticalmente */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sinBordes th, .sinBordes td {
  border: none; /* Elimina los bordes de las celdas */
}

  table {
    border-collapse: collapse; /* Para que los bordes se fusionen */
  }
  th, td {
    border: 1px solid black; /* Bordes negros para celdas de encabezado y datos */
    padding: 5px; /* Espacio de relleno para mejorar la apariencia */
  }


  .nav-link.active::after {
    content: '';
    display: block;
    border-bottom: 3px solid white; /* Elige el grosor y el color de la línea que prefieras */
    padding: 0 0 5px; /* Espaciado entre el texto y la línea */
  }
  

/* Estilo para el contenedor principal que envuelve el Sidebar y el contenido */
.container {
  display: flex; /* Establece la presentación flexbox para que los elementos se alineen en una fila */
}

/* Estilo para el Sidebar */
.d-flex.flex-column {
  /* Agrega cualquier estilo adicional que desees para el Sidebar */
}

/* Estilo para el contenido */
.content {
  flex: 1; /* Hace que el contenido ocupe todo el espacio disponible */
  overflow: auto; /* Habilita el desplazamiento si el contenido excede la altura de la pantalla */
  padding: 20px; /* Agrega espaciado al contenido si es necesario */
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

/* Estilos para el texto */
.texto-centrado {
  text-align: center;
  color: white;
  margin: 10px 0;
  font-size: 2.5vw; /* Tamaño de fuente relativo al ancho de la pantalla */
}

.texto-grande {
  font-size: 5vw; /* Tamaño de fuente más grande relativo al ancho de la pantalla */
  font-weight: bold;
}

/* Estilos para el buscador */
.buscador {
  text-align: center;
  margin-top: 3vw; /* Margen superior relativo al ancho de la pantalla */
}

.input-buscador {
  width: 50%;
  height: 5vw; /* Altura relativa al ancho de la pantalla */
  font-size: 2vw; /* Tamaño de fuente relativo al ancho de la pantalla */
  border-radius: 30px;
}

/* Media query para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
  .texto-centrado {
    font-size: 4vw;
  }

  .texto-grande {
    font-size: 8vw;
  }

  .input-buscador {
    width: 80%;
    height: 8vw;
    font-size: 3vw;
  }

  @media screen and (max-width: 800px) {
    .flecha {
      display: none; /* Oculta la imagen en pantallas pequeñas */
    }
  }
  @media screen and (max-width: 768px) {
    .ocultar-sidebar {
      display: none;
    }
  }
  
  /* Ajusta el estilo del contenido para ocupar todo el ancho en pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .contenido-expandir {

      margin-left: 20px; /* Cambia el margen izquierdo para expandir el contenido */
      margin-right: 20px; /* Cambia el margen derecho para expandir el contenido */
    }
  }

  .contenedor {
    width: 100%;
    text-align: center; /* Alinea el contenido al centro */
  }
  
  /* Estilo para la imagen */
  .imagen {
    width: 80%; /* O cualquier ancho deseado */
    height: auto;
    display: block; /* Hace que la imagen sea un bloque */
    margin: 0 auto; /* Centra horizontalmente */
  }

  .espaciado-corto {
    margin-bottom: 0.1px;
  }
  
 @media (max-width: 550px) {
  .dropdown-menu {
    right: auto !important;
    left: 0 !important;
  }

  .dropdown-menu.show {
    right: auto !important;
    left: 0 !important;
  }
}

}

